<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start"> </ion-back-button>
    <ion-title>Modification</ion-title>
    <ion-buttons slot="primary">
        <ion-button color="green" (click)="updateHttp()">
          <ion-icon slot="end" name="save" ></ion-icon>
        </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="floating">Nom du produit</ion-label>
      <ion-input
        clearInput
        name="nomProduit"
        (ionChange)="modifNomProduit($event)"
        placeholder="{{produitEdit.nomProduit}}"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Nutriscore</ion-label>
      <ion-select
        [interfaceOptions]="customPopoverOptions"
        (ionChange)="modifNutri($event)"
        interface="popover"
        placeholder="Select One"
      >
        <ion-select-option value="a">A</ion-select-option>
        <ion-select-option value="b">B</ion-select-option>
        <ion-select-option value="c">C</ion-select-option>
        <ion-select-option value="d">D</ion-select-option>
        <ion-select-option value="e">E</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-card>
    <div *ngIf="produitEdit.urlimage != ''; else elseBlockPrincipale">
      <img src="{{produitEdit.urlimage}}" />
    </div>
    <ng-template #elseBlockPrincipale>
      <ion-button (click)="picturePrincipale()" color="primary">No img Available</ion-button>
    </ng-template>

    <ion-card-header>
      <ion-grid>
          <ion-row>
            <ion-col size="9">
                <ion-card-title>Image principale</ion-card-title>
            </ion-col>
            <ion-col size="2">
                <div *ngIf="produitEdit.urlimage != ''">
                    <button (click)="delete('p')"class="btn">x</button>
                </div>
            </ion-col>
            <ion-col size="1"></ion-col>
          </ion-row>
        </ion-grid>
    </ion-card-header>

    <ion-card-content>
      Veuillez prendre en photo le produit d'un point de vue où l'on peut le
      voir complètement.
    </ion-card-content>
  </ion-card>
  <ion-item>
    <ion-card>
      <div *ngIf="produitEdit.urlimageing != ''; else elseBlockIngredient">
        <img src="{{produitEdit.urlimageing}}" />
      </div>
      <ng-template #elseBlockIngredient>
        <ion-button (click)="pictureIng()" color="primary">No img Available</ion-button>
      </ng-template>
      <ion-card-header>
        <ion-grid>
          <ion-row>
            <ion-col size="9">
              <ion-card-title>Image ingrédients</ion-card-title>
            </ion-col>
            <ion-col size="2">
                <div *ngIf="produitEdit.urlimageing != ''">
                    <button (click)="delete('i')"class="btn">x</button>
                </div>
            </ion-col>
            <ion-col size="1"></ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-header>
      <ion-card-content>
        Essayez de prendre en photo la liste des ingrédients en totalité.
      </ion-card-content>
    </ion-card>
  </ion-item>

  <ion-card>
    <div *ngIf="produitEdit.urlimagenut != ''; else elseBlockNut">
      <img src="{{produitEdit.urlimagenut}}" />
    </div>
    <ng-template #elseBlockNut>
      <ion-button (click)="pictureNutri()" color="primary">No img Available</ion-button>
    </ng-template>

    <ion-card-header>
      <ion-grid>
          <ion-row>
            <ion-col size="9">
                <ion-card-title>Image nutrition</ion-card-title>
            </ion-col>
            <ion-col size="2">
                <div *ngIf="produitEdit.urlimagenut != ''">
                    <button (click)="delete('n')"class="btn">x</button>
                </div>
            </ion-col>
            <ion-col size="1"></ion-col>
          </ion-row>
        </ion-grid>
    </ion-card-header>

    <ion-card-content>
      Essayez de prendre la liste de la nutrition du produit en question :).
    </ion-card-content>
  </ion-card>
</ion-content>
