  <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Code : {{produit.code}}</ion-card-subtitle>
        <ion-card-title>{{produit.nomProduit}}<ion-img div="main-image" [src]="produit.urlimage"></ion-img></ion-card-title>
        
      </ion-card-header>
    
      <ion-card-content>
          <ion-item-sliding id="item100" width="auto">
              <ion-item (click)="redirect()">
                <ng-template [ngIf]="produit.nutriscore == 'a'"><img src="assets/nutriscore/nutriA.png"></ng-template>
                <ng-template [ngIf]="produit.nutriscore == 'b'"><img src="assets/nutriscore/nutriB.png"></ng-template>
                <ng-template [ngIf]="produit.nutriscore == 'c'"><img src="assets/nutriscore/nutriC.png"></ng-template>
                <ng-template [ngIf]="produit.nutriscore == 'd'"><img src="assets/nutriscore/nutriD.png"></ng-template>
                <ng-template [ngIf]="produit.nutriscore == 'e'"><img src="assets/nutriscore/nutriE.png"></ng-template>
                <ion-note slot="end">
                  Description
                </ion-note>
              </ion-item>
            </ion-item-sliding>
      </ion-card-content>
</ion-card>
  